/*Global Styles*/

header {
    padding-top: 25px;
    background-color: #f3f0e7;
    padding-bottom: 25px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

/* Header Stuff */

.topnav-logo {
    width: 10%;
    position: relative;
}

.topnav {
    display: flex;
    padding: 8px;
}

.top-header {
    padding: 32px 48px 0;
}

/* Bottom Row */

.nav-bottom-row {
    font-family: Karla, sans-serif;
    margin: 0 auto;
    padding: 0;
    overflow: default;
    background-color: #f3f0e7;
    padding-bottom: 25px;
    display: flex;
}
.nav-bottom-row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
.nav-bottom-row a {
    margin-right: 25px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding-top: 16px;
}

.help-link {
    position: relative;
}
.help-list-container {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: #f3f0e7;
    white-space: nowrap;
    min-width: 150px;
    overflow: hidden;
    padding: 0;
    top: 15px;
}


.help-list {
    list-style-type: none;
    margin: 0;
    padding: 0;


}



.help-list-link a{
    display: block;
}

.level-1-link {
    position: relative;
}


/* Main Section */


.background-container {
    width: 100%;
    z-index: 1;
    position: relative;
}

.background-image {
    width: 100%;
    height: 75%;
    background-repeat: no-repeat;
    z-index: 1;
}
.parent-image-container {
    position: relative;
}

.text-left-box {
    position: absolute;
    max-width: 330px;
    text-align: center;
    margin: 20px 55px 30px;
    padding: 32px;
    font-family: 'Josefin Sans', sans-serif;
    top: 0;
    left: 0;
    background-color: rgba(80, 111, 138, 0.8);
    color: white;
    font-size: 18px;
}

.text-left-box h2 {
    color: white;
    font-size: 30px;
    font-weight: 550;
    max-width: 300px;


}

.bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-slider-caption-bg);
    opacity: 0.8;
  }

h2.font-section-heading {
    font-size: 30px;
    line-height: 1.25em;
    margin: -0.25em 0;
    letter-spacing: .025em;
    position: relative;
    padding-bottom: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}


.font-button {
    background-color: white;
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    vertical-align: bottom;
    width: auto;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    padding: 0 16px;
    font-family: Karla, sans-serif;
    font-size: 13px;
}

.merch-header {
    font-size: 25px;
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
    color: black;
    font-weight: 600;
}

/* Product slideshow */
.slideshow-shop {
    position: relative;
    padding-top: 72px;
    padding-bottom: 72px;
}


.slideshow-container {
    width: 85%;
    margin: auto;
    overflow: hidden;
    padding: 0 30px;
    padding-left: 5px;

}
.slideshow-slide {
    width: 100%;
    height: 391px;
    display: flex;

}

.slideshow-slide img {
    width: 100%;
    height: 100%;
    padding-right: 25px;

}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-size: 50px;
    font-weight: lighter;
    left: 0;
    transition: transform 0.3s ease;
}

.prev:hover{
    transform: scale(0.7);
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-size: 50px;
    font-weight: lighter;
    right: 0;
    transition: transform 0.3s ease;
}

.next:hover {
    transform: scale(0.7);
}

.mySlides {
    padding-right: 5px;
    width: 391px;
    height: 392px;
}

/* SHOPIFY SECTION */
.parent-featured {
    padding: 72px 48px;
}
.featured-content-text-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;
}
.featured-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.featured-content-container p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.featured-content-image {
    position: relative;
    width: 100%;
}

.featured-content-text {
    max-width: 30%;
    font-family: Karla, sans-serif;
    font-size: 16px;
    padding: 32px 48px;
    line-height: 1.5;
    margin: 0;
}
.shopify-section {
    background-color: #f3f0e7;
}

/* Music Container */

.music-parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.music-image-container {
    position: relative;
    display: flex;
}

.music-content-text {
    padding: 32px;
}

.stage-parent-container {
    padding: 72px 48px;

}

.stage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.stage-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

/* EMAIL SECTION */

.email-section {
    background-color: white;
}

.email-root {
    padding: 72px 0;
}

.email-body {
    max-width: 400px;
    padding: 0 32px;
}
.email-body form{
    display: flex;
}

.email-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subscribe-input {

    border: 1px solid black;
    box-shadow: none;
    margin: 0 12px 0 0;
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.8px;
}

input, textarea{
    width: 180px;
    overflow: auto;
    max-width: 100%;
    margin: 0 16px 0 0;
    padding: 0 16px;
    font-size: 12px;
    letter-spacing: 0.8px;
    border: 1px solid;
    border-radius: 2px;
}

.subscribe-button {
    background-color: #506f8a;
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    vertical-align: bottom;
    width: auto;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    padding: 0 16px;
    font-family: Karla, sans-serif;
    font-size: 14px;
    border: none;
}

/* Footer */

.shopify-footer {
    background-color: #f3f0e7;
    padding: 48px;
    position: relative;
}

.footer-blocks {
    display: flex;
    justify-content: space-between;
    margin: -16px;
}

.footer-block {
    padding: 16px;
    flex-basis: 30%;
}

.footer-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.footer-body-paragraph {
    max-width: 400px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.footer-socials {
    display:inline-flex
}

.footer-socials a {
    padding-right: 15px;
}
.footer-menu > li{
    list-style-type: none;
    padding: 0;
    display: block;
    font-family: 'Karla', 'sans-serif';
    font-size: 16px;
    height: 24px;
}

.footer-menu > li > a {
    text-decoration: none;
    color: black;
}

.info-block-parent {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.footer-block-container-last {
    display: grid;
    justify-content: end;
}


.footer-sub-container {
    display: flex;
    justify-content: space-between;
}

.footer-sub-paragraph {
    display: flex;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.payment-icons-root ul {
    list-style-type: none;
    display: flex;
}
.payment-icons-list li {
    margin-right: 10px;

}

.footer-logo-parent {
    display: flex;
    justify-content: center;
}
.footer-logo-parent img {
    vertical-align: middle;
    max-width: 100%;
}

.logo-child {
    width: 215px;
    margin: auto 15px;
    flex: none
}
.logo-child.canada {
    width: 350px;
    margin: auto 15px;
    flex: none
}
/* SHOWS */

.content {
    min-height: 100vh;
    padding: 72px 48px;
}

.row-full-width {
    padding: 0 48px;
}

.columns {
    padding-left: 16px;
    padding-right: 16px;
}

.font-section-shows {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: .025em;
    padding-bottom: 30px;
}

.event-summary {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    background-color: #f3f0e7;
    padding: 15px 10px;
    border-radius: 3px;
    color: #3b3b3b !important;
    margin: 12px 0;

}

#location-arrow {
    height: 12px;
    width: 12px;
    padding-right: 5px;
    align-items: center;
}
.event {
    background-color: #f3f0e7;
    border-radius: 3px;
    padding: 28px 16px;
    display: flex;
    margin-bottom: 16px;
}

.event-details-container {
    width: 100%;
    padding-left: 25px;
}
.event-color {
    background-color: #bfbfbf;
    display: block;
    width: 10px;
    height: 63px;
    border-radius: 3px;
    flex-shrink: 0;
    margin-right: 20px;
}
.event-date-container {
    width: 100px !important;
    display: flex;
}
.event-day {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.event-month {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.event-seperator {
    opacity: 0.5;
    padding-left: 4px;
    padding-top: 10px;
}

.calendar-event-date-to {
    padding-left: 2px;
    opacity: 0.5;
}
.calendar-event-date-to .event-day{
    font-size: 14px;
    color: gray
}

.calendar-event-date-to .event-month {
    font-size: 10px;
    color:gray
}

.event-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
}

.event-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #5e5e5e !important;
    padding-top: 2px;
}



.event-properties {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #5e5e5e !important;
    padding-top: 4px;
}

.event-tickets-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

}

.event-tickets {
    display: flex;
    justify-content: end;

}
.ticket-button {
    display: flex;
    opacity: 1;
    cursor: pointer;
    padding: 10px 16px;
    text-decoration: none !important;
    align-items: center;
    top:0;

    background-color: #506f8a !important;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(23,43,99,.24) 0 7px 28px !important
}

.ticket-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    color: white;
    font-weight: bold;
    padding-left: 5px;

}

/* MUSIC TAB */
.music-section {
    justify-content: center;
    display: flex;
}

.font-paragraph {
    display: flex;
    justify-content: center;
}

.media-player {
    width: 25%;
}

.TrackListWidget_trackListContainer__zpYQe {
    overflow:auto
}

/* ABOUT */
.about-parent {
    background-color: #f7f7f7
}
.about-container {
    justify-content: center;
    align-items: start;
}

.about-text {
    padding: 16px 48px;
    line-height: normal;
}

.about-image {
    width: 50%;
}

.columns-about{
    background-color: #f7f7f7;
}
/* Media Query for Small Screens */
@media only screen and (max-width: 915px) {

    .topnav {
        justify-content: center;
        width: 100%;
    }

    .topnav-logo {
        width: 50%;
    }

    .nav-bottom-row {
        justify-content: center;

    }

    .nav-bottom-row a {
        font-size: 10px;
    }

    .help-list-container {
        right: 10px;
    }

    .slideshow-container {
        width: 100%;
    }

   .slideshow-slide img {
    max-width: 100%;
    vertical-align: middle;
   }

   .featured-content-container {
    display: block;
   }

   .featured-content-text {
    justify-content: center;
    align-items: center;
    max-width: 100%;
   }

   .featured-content-text p {
    text-align: center;
   }

   .featured-content-text-heading {
    display: flex;
    justify-content: center;
   }

   .music-parent-container {
    display: block;
    padding: 0 48px;
   }

   .stage-container {
    display: block;
   }

   .email-subheading {
    padding: 0 14px;
   }

   .footer-block {
    text-align: center;
   }

   .shopify-footer{
    padding: 0px;
   }
   .footer-blocks {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-between;
   }

   .footer-block-end {
    display: flex;
    justify-content: center;
   }

   .footer-sub-container {
    display: block;
   }

   .footer-sub-paragraph {
    justify-content: center;
   }

   .payment-icons-list {
    flex-wrap: wrap;
    justify-content: center;
   }

   .logo-child  {
    width: 25%;
   }

   .logo-child.canada {
    width: 25%;
   }
}
